<div class="container">

 <h1> Hello authorized boot: <%= @user.name %>  </h1>


   <form id="signout" method="post" action="/signout/<%=@user.id%>">
    <input type='hidden' name='_method' value="delete">
    <div class="submit"><input type="submit" value="Logout"></div>
  </form>
